venv/
data/raw/
data/processed/
__pycache__/
*.pyc
.env
application_octet-stream_title-1.xml
.DS_Store
data/

#dev docs:
db_schema_explanation_docs.md
tree_nav_plan.md
indexes_for_nodes.md
strats/

src/localPush/json_tables/config/db_config.sh

# Data files and directories
src/localPush/json_tables/
src/localPush/csv_output/
*.json
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
